version: '3'

services:
  locus-pypy:
    build:
      context: .
      args:
        - IMAGE_NAME=${PYPY_IMAGE_NAME}
        - IMAGE_VERSION=${PYPY_IMAGE_VERSION}
    image: lycantropos/locus-pypy:11.0.0
    volumes:
      - ./locus:/opt/locus/locus
      - ./pyproject.toml:/opt/locus/pyproject.toml
      - ./README.md:/opt/locus/README.md
      - ./setup.py:/opt/locus/setup.py
      - ./tests:/opt/locus/tests
    entrypoint: pytest
